<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Statistics</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p><span class="strong">Funny Moments</span></p>
        <p>There are 11,166 funny moments annotated. Out of 10,136 videos, 9,222 contain one funny moment, 798 contain two, and 116 contain three. </p>
      </div>
      <div class="col-lg-4">
        <p><span class="strong">Explanations</span></p>
        <p>Each moment is annotated with start and end timestamps and corresponding explanation. Thus, there are 11,166 explanations and they consist of 44.3 words on average.</p>
      </div>
      <div class="col-lg-4">
        <p><span class="strong">Categories</span></p>
        <p>Thanks to GPT-3.5's in-context learing, we can effectively classify videos into 20 humor categories using annotated explanations. The results are shown below.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="img-responsive" src="img/category.png"/>
      </div>
    </div>
  </div>
</section>
