<!-- Contact Section -->
<section class="success" id="download">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Download</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>We provide a json file of our dataset, consisting of youtube urls, timestamps of funny moments, and corresponding explanations. If you click the "Download Dataset" button below, you can download a json file of our dataset. For more information about our project, please refer to <a id="yt-dlp" href="https://github.com/dayoon-ko/ExFunTube">ExFunTube</a>.</p>
      </div>
      <div style="border-radius: 60px 10px; border: #fff;"class="col-lg-8 col-lg-offset-2">
        <cite><br><i>
          &emsp;&emsp;&emsp;&emsp;@inproceedings{<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ko2023can,<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;title={Can Language Models Laugh at YouTube Short-form Videos?},<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;author={Dayoon Ko, Sangho Lee, Gunhee Kim},<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;booktitle={The 2023 Conference on Empirical Methods in Natural Language Processing},<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;year={2023}<br>
            &emsp;&emsp;&emsp;&emsp;}</i><br><br>
          </cite>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/uc?export=download&id=1xiiBt2KfsJS70x8P7z8spdOu7atApDNt" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Dataset
        </a>
      </div>
      </div>
    </div>
  </div>
</section>
