<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">ExFunTube</span>
          <hr class="star-light" />
          <h2 style="margin: -30px auto auto auto;">
            <a class="col-lg-8 col-lg-offset-2" href="{{ network.url }}" style="color: #fff;">Can Language Models Laugh at YouTube Short-form Videos? [EMNLP 2023]</a>
          </h2>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <img style="margin: auto auto -20px auto;" class="img-responsive" src="img/img.png" alt="profile-pic" width="100%"/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
              <p >We introuduce <span class="strong">ExFunTube</span> dataset, which consists of 10,136 funny short-form youtube videos. Videos are annotated with start and end timestamps and corresponding explanations. You can see an example of our ExFunTube dataset above, which has three funny moments!</p>
              <p class="text-center">[ <a href="" style="color: #fff;">Paper</a> ] &nbsp; [ <a href="https://github.com/dayoon-ko/ExFunTube" style="color: #fff;">Code</a> ]</p>
            </div>
          </div>
          <!--
          <div class="footer-col col-md-4 col-md-offset-4 text-center">
            <ul style="margin: -10px;" class="list-inline">
              {% for network in site.social %}
              <li>
                <a href="{{ network.url }}" class="btn-social btn-outline"><i
                    class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
              </li>
              {% endfor %}
            </ul>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</header>
