<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="modal-body">
            <h2>Example {{ post.modal-id }}</h2>
            <hr class="star-primary">
            <!--<img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">-->
            <iframe style="margin: -20px 0 20px 0" width="{{ post.width }}" height="{{ post.height }}" src="{{ post.youtube_url }}" title="{{ post.youtube_url }}" frameborder="{{ post.frameborder }}" allow="{{ post.allow }}" allowfullscreen></iframe>
            <div style="text-align: left; margin:0 45px;">
              <p><b>Moment 1. </b></p>
              <p>Timestamp:  {{post.start1}}s  ~ {{post.end1}}s</p>
              <p>Explanation:  {{post.explanation1}}</p>

              {% if post.start2 %} 
                <p><b>Moment 2. </b></p>
                <p>Timestamp:  {{post.start2}}s  ~ {{post.end2}}s</p>
                <p>Explanation:  {{post.explanation2}}</p>
              {% endif %}

              {% if post.start3 %} 
                <p><b>Moment 3. </b></p>
                <p>Timestamp:  {{post.start3}}s  ~ {{post.end3}}s</p>
                <p>Explanation:  {{post.explanation3}}</p>
              {% endif %}

            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
